/* h2{
   color: grey;
   background-color: black;

}
div{
    background-color: pink;
}
.colour1{
    background-color: rgb(250, 133, 0);
    height: 200px;
}
.colour2{
    background-color: white;
    height: 200px;
    
}
.colour3{
    background-color: green;
    height: 200px;
} */