*{
    margin: 0;
    padding: 0%;
    
}
.box1{
    color:  whitesmoke;
    background-color:rgba(0, 0, 0, 0.21);
    width: 350px;
    height: 400px; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    margin-top: 50px;
    
    }
.first{
    grid-column: 1/ span 2;
}
.box2{
    color: whitesmoke;
    background-color:rgba(0, 0, 0, 0.21) ;
    width: 350px;
    height: 400px;
    margin-top: 100px;
    

}

